<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>GLH Visualizer</title>

</head>


<body>
    <header>
        <h1 id="header-text">Routing Page</h1>
    </header>
    <div>
        <h1> Date </h1>

        <span id="date">hoge date</span>
    </div>
    <div id="route-table">
        <h1> Routing Table </h1>

        <ul>
            <li> GLH visualizer </li>
            <li> Aggregation OPTICS </li>
            <li> <a href="/map">Mapbox Map </a> </li>
        </ul>
    </div>

    <script type="module" src="/js/index.js"></script>
</body>

</html>