<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/favicon.ico">
    <title>Google Location History</title>
</head>

<body>

    <div id='map'></div>

    <div id='d3plot'></div>
    <div id="plot"></div>
    <div id="state-legend"></div>
    
    <script src="static/js/GLH.js"></script>
    <script src="static/js/d3plot.js"></script>
</body>

</html>